@model IEnumerable<UserManagement.Models.User>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EnrollmentDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EnrollmentDate)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ID">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
					@if (item.Status == UserManagement.Models.Status.Pending)
					{
						<form asp-controller="Users" asp-action="ChangeStatus" asp-route-id="@item.ID" asp-route-status="Approved" method="post" style="display:inline;">
							<button type="submit" class="btn btn-success btn-sm">Approve</button>
						</form>
						<form asp-controller="Users" asp-action="ChangeStatus" asp-route-id="@item.ID" asp-route-status="Rejected" method="post" style="display:inline;">
							<button type="submit" class="btn btn-danger btn-sm">Reject</button>
						</form>
					}
					else if (item.Status == UserManagement.Models.Status.Rejected)
					{
						<form asp-controller="Users" asp-action="ChangeStatus" asp-route-id="@item.ID" asp-route-status="Approved" method="post" style="display:inline;">
							<button type="submit" class="btn btn-success btn-sm">Approve</button>
						</form>
						<form asp-controller="Users" asp-action="ChangeStatus" asp-route-id="@item.ID" asp-route-status="Pending" method="post" style="display:inline;">
							<button type="submit" class="btn btn-warning btn-sm">Set to Pending</button>
						</form>
					}
					else if (item.Status == UserManagement.Models.Status.Approved)
					{
						<form asp-controller="Users" asp-action="ChangeStatus" asp-route-id="@item.ID" asp-route-status="Rejected" method="post" style="display:inline;">
							<button type="submit" class="btn btn-danger btn-sm">Reject</button>
						</form>
						<form asp-controller="Users" asp-action="ChangeStatus" asp-route-id="@item.ID" asp-route-status="Pending" method="post" style="display:inline;">
							<button type="submit" class="btn btn-warning btn-sm">Set to Pending</button>
						</form>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
